<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AuthenticationAdminSoap11Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="AuthenticationAdminSoap11Binding1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="AuthenticationAdminSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://192.168.0.151:9443/services/AuthenticationAdmin.AuthenticationAdminHttpsSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="AuthenticationAdminSoap11Binding"
                contract="Authentication.AuthenticationAdminPortType" name="AuthenticationAdminHttpsSoap11Endpoint" />
            <endpoint address="https://192.168.0.151:9443/services/AuthenticationAdmin.AuthenticationAdminHttpsSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="AuthenticationAdminSoap12Binding"
                contract="Authentication.AuthenticationAdminPortType" name="AuthenticationAdminHttpsSoap12Endpoint" />
        </client>
    </system.serviceModel>
</configuration>